arrow==1.3.0
astropy 
contextily
h5py==2.10.0
ipykernel
ipython
ipywidgets
joblib
json5==0.9.5
jupyter==1.0.0
jupyter-client==8.6.0
jupyterlab
matplotlib
numpy==1.22.4
opencv-python==4.8.1.78
pandas==1.2.4
geopandas
regex
rasterio
scikit-image==0.18.1
scipy
seaborn
torch==2.1.1
torchview==0.2.6
tqdm
